<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Ionic Blank
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row *ngFor="let item of items | async">
            <ion-col size="8" offset="2">
                {{ item.name }} - {{ item.price }}
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="8" offset="2">
                <form [formGroup]="myForm" (ngSubmit)="sendEmail()">
                    <ion-item>
                        <ion-label position="floating">From</ion-label>
                        <ion-input formControlName="fromEmail" type="email" required></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label position="floating">To</ion-label>
                        <ion-input formControlName="toEmail" type="email" required></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label position="floating">Subject</ion-label>
                        <ion-input formControlName="subject" type="text" required></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label position="floating">Body</ion-label>
                        <ion-input formControlName="body" type="text" required></ion-input>
                    </ion-item>

                    <ion-button expand="full" [disabled]="myForm.invalid" type="submit">Send Email</ion-button>
                </form>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>